<p><%= "#{ tm(Student) }: "%> <%= link_to @classroom.student.name, student_path(@classroom.student) %></p>
<p><%= "#{ tm(Course) }: " %> <%= link_to @classroom.course.name, course_path(@classroom.course) %></p>
<p><%= "#{ ta(Classroom, :entry_at) }: "%> <%= l(@classroom.entry_at) %></p>